git pull
git status
git submodule update --init --recursive
git submodule update --remote --merge --recursive && git add . && git commit -m "Update all submodules to latest" && git push
alias update="git submodule update --remote --merge && git add . && git commit -m 'Update all submodules to latest' && git push"
alias upload="kam version patch && kam build -s -r"
